apiVersion: v1 
kind: ConfigMap 
metadata: 
 name: shipping 
 namespace: roboshop 
data: 
  # CART_ENDPOINT: "cart:8080"
  # DB_HOST: "mysql"
  CART_ENDPOINT: "{{ .Values.configMap.CART_ENDPOINT }}"
  DB_HOST: "{{ .Values.configMap.DB_HOST }}"
---
apiVersion: apps/v1 
kind: Deployment 
metadata: 
 name: shipping 
 namespace: roboshop
 labels: 
 # these are replica set labels 
  project: roboshop
  component: shipping
  tier: backend
spec:
 replicas: 1 
 selector: 
  matchLabels:
  # these labels are used to select pods
    project: roboshop
    component: shipping
    tier: backend 
 template: 
  metadata:
   labels:
    project: roboshop
    component: shipping
    tier: backend
  spec:
   containers: 
    - name: shipping 
      image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
      imagePullPolicy: Always 
      envFrom: 
      - configMapRef: 
         name: shipping 
      ports:
      - name: liveness-port
        containerPort: 8080
      readinessProbe:
        httpGet:
          path: /health
          port: liveness-port
        initialDelaySeconds: 60
        failureThreshold: 6
        periodSeconds: 10
      livenessProbe:
        httpGet:
          path: /health
          port: liveness-port
        initialDelaySeconds: 60
        failureThreshold: 6
        periodSeconds: 20
      resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
           memory: "512Mi"
           cpu: "200m"

